.container-fluid {
  @include md {
    margin-right: 15px !important;
    margin-left: 15px !important;
  }
}

.breadcrumbs {
  background: #283d4f;
  color: #000000;
  text-align: right;
  a {
    color:  #000000;
    transition: .5s;
  }
  a:hover {
    color: #fff;
    text-decoration: none;
  }
}

.title {
  h1 {
    color: #fff;
    font-weight: 200;
    margin-bottom: 100px;
    font-size: 60px;
  }
}
