.calendarhead {
  background: #DA383E;
  color: #fff;
  padding-top: 60px;
  h1 {
    color: #fff;
    font-size: 60px;
    font-weight: 300;
  }
  p {
    font-weight: 700;
    font-size: 22px;
    @include md {
      font-size: 35px;
    }
  }
  .standings {
    @include md {
      border-left: 6px solid #fff;
    }
    p {
      text-transform: uppercase;
      font-size: 20px;
      color: #283C4F;
    }
    table {
      border-collapse:separate;
      border-spacing: 5px 10px;
      font-size: 20px;
      @include md {
        font-size: 25px;
      }
      font-weight: 700;
    }
    tr {
      margin-bottom: 5px;
    }
    .count {
      background: #283C4F;
      width: 25px;
    }
    td.name, td.points {
      border: 2px solid #fff;
    }
    .name {
      text-transform: uppercase;
    }
    .points {
      font-size: 15px;
    }
  }
}

.calendar {
  padding: 25px 25px 450px 25px;
  background: url('images/calendar_btm.jpg') bottom center no-repeat;
  background-size: 100%;
  .event {
    margin-bottom: 50px;
    &__wrapper__closed {
      border: 6px solid #15283B;
      padding: 15px;
      transition: .5s;
      .dots {
        position: absolute;
        top: 15px;
        right: 10px;
        background: url(images/events_dots_navy.png) no-repeat;
        height: 30px;
        width: 40px;
      }
      .round {
        color: #DA383E;
        font-size: 20px;
        font-weight: 700;
      }
      .dates {
        color: #DA383E;
        font-size: 30px;
        font-weight: 700;
      }
      .title {
        border-top: 2px solid #15283B;
        border-bottom: 2px solid #15283B;
        color: #15283B;
        padding-bottom: 15px;
        word-wrap: break-word;
        h2 {
          font-size: 40px;
          word-wrap: break-word;
          @include md {
            font-size: 35px;
          }
          @include lg {
            font-size: 50px;
          }
          text-transform: uppercase;
          font-weight: 700;
          margin-top: 15px;
        }
        a {
          color: #15283B;
          font-size: 14px;
          font-weight: 700;
          display: inline-block;
          text-transform: capitalize;
        }
      }
      img.wp-post-image {
        margin-top: 15px;
      }
    }

    &__wrapper__closed:hover {
      border: 6px solid #DA383E;
      padding: 15px;
      background: #DA383E;
      .dots {
        background: url(images/events_dots_white.png) no-repeat;
      }
      .round {
        color: #fff !important;
      }
      .dates {
        color: #fff !important;
      }
      .title {
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        color: #fff;
        h2 {
          color: #fff;
        }
        a {
          color: #fff;
          transition: .5s;
        }
        a:hover {
          color: #15283B;
          text-decoration: none;
        }
      }
    }

    &__wrapper__upcoming {
      border: 6px solid #15283B;
      padding: 15px;
      transition: .5s;
      .dots {
        position: absolute;
        top: 15px;
        right: 10px;
        background: url(images/events_dots_navy.png) no-repeat;
        height: 30px;
        width: 40px;
      }
      .round {
        color: #34A746;
        font-size: 20px;
        font-weight: 700;
      }
      .dates {
        color: #34A746;
        font-size: 30px;
        font-weight: 700;
      }
      .title {
        border-top: 2px solid #15283B;
        border-bottom: 2px solid #15283B;
        color: #15283B;
        padding-bottom: 15px;
        word-wrap: break-word;
        h2 {
          font-size: 40px;
          word-wrap: break-word;
          @include md {
            font-size: 35px;
          }
          @include lg {
            font-size: 50px;
          }
          text-transform: uppercase;
          font-weight: 700;
          margin-top: 15px;
        }
        a {
          color: #15283B;
          font-size: 14px;
          font-weight: 700;
          display: inline-block;
          text-transform: capitalize;
        }
      }
      img.wp-post-image {
        margin-top: 15px;
      }
    }


    &__wrapper__upcoming:hover {
      border: 6px solid #34A746;
      padding: 15px;
      background: #34A746;
      .dots {
        background: url(images/events_dots_white.png) no-repeat;
      }
      .round {
        color: #fff !important;
      }
      .dates {
        color: #fff !important;
      }
      .title {
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        color: #fff;
        h2 {
          color: #fff;
        }
        a {
          color: #fff;
          transition: .5s;
        }
        a:hover {
          color: #15283B;
          text-decoration: none;
        }
      }
    }
  }
  .btcc_logo {
    position: relative;
    margin-top: -40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.calendarhead-single {
  background: #15283B;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
  h1 {
    color: #fff;
    font-size: 60px;
    font-weight: 300;
    margin: 0;
  }
  p {
    font-weight: 400;
    font-size: 16px;
  }
  .title {
    border-bottom: 1px solid #fff;
    padding-bottom: 15px;
    margin-bottom: 25px;
  }
  .circuit {
    color: #28A6EA;
    position: relative;
    .rotate {
      float: left;
      display: inline-block;
      transform: rotate(270deg);
      position: relative;
      font-size: 22px;
      font-weight: 700;
      height: 100px;
      @include md {
        height: 170px;
      }
      text-transform: uppercase;
    }
    .wrapper {
      position: relative;
      display: inline-block;
      margin-right: 15px;
      border-style: solid;
      border-width: 26px 26px 27px 27px;
      -moz-border-image: url(images/border.png) 26 26 27 27 repeat;
      -webkit-border-image: url(images/border.png) 26 26 27 27 repeat;
      -o-border-image: url(images/border.png) 26 26 27 27 repeat;
      border-image: url(images/border.png) 26 26 27 27 fill repeat;
      span {
        color: #fff;
        display: block;
        font-size: 16px;
        font-weight: 700;
      }
      span.miles {
        position: absolute;
        top: 25px;
        right: -60px;
        width: auto;
        float: left;
        height: 80px;
        transform: rotate(270deg);
        color: #28A6EA;
      }
      p {
        font-size: 40px;
        @include md {
          font-size: 60px;
        }
        font-weight: 700;
      }
    }
  }
  .circuit_gallery {
    padding: 45px 15px;
    img {
      margin-right: 15px;
    }
    a {
      color: #fff;
      transition: .5s;
    }
    a:hover {
      color: #28A6EA;
      text-decoration: none;
    }
  }
}

.calendar-single {
  .image {
    &__wrapper {
      background: #28A6EA;
      height: 100%;
    }
    margin-top: 15px;
    margin-bottom: 15px;
    padding-right: 7.5px;
    padding-left: 0;
  }
  .circuit {
    &__wrapper {
      background: #28A6EA;
    }
    margin-top: 15px;
    margin-bottom: 15px;
    padding-right: 7.5px;
    padding-left: 7.5px;
    @include md {
      padding-right: 0;
      padding-left: 7.5px;
    }
  }
  .back {
    &__wrapper {
      background: #DA383E;
      padding: 32px;
      img {
        margin-right: 15px;
      }
    }
    padding-right: 7.5px;
    padding-left: 7.5px;
    @include md {
      padding-left: 0;
      padding-right: 7.5px;
      text-align: center;
    }

    a {
      color: #fff;
      transition: .5s;
    }
    a:hover {
      color: #15283B;
      text-decoration: none;
    }
  }
  .blog {
    margin-bottom: 15px;
    &__wrapper {
      background: #15283B;
      padding: 25px;
    }
    padding-right: 7.5px;
    padding-left: 7.5px;
    @include md {
      padding-right: 0;
      padding-left: 7.5px;
    }
    h3 {
      color: #fff;
      font-weight: 700;
      margin: 0;
    }
  }
  .blog_section {
    h2 {
      background: #fff;
      color: #6F919B;
      padding: 10px;
      width: 90%;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 700;
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 0;
      ::before {
        content: url('images/blog_dots_h2.png');
        float: left;
        height: 20px;
      }
      a {
        color: #6F919B;
        transition: .5s;
      }
      a:hover {
        color: #28A6EA;
        text-decoration: none;
      }
    }
    &__post:first-of-type {
      @include md {
        padding-left: 0;
        padding-right: 7.5px;
      }
    }
    &__post {
      padding-left: 7.5px;
      padding-right: 7.5px;
      margin-bottom: 15px;
    }
    &__post:last-of-type {
      @include md {
        padding-left: 7.5px;
        padding-right: 0;
      }
    }
    &__post__wrapper {
      height: 250px;
      @include md {
        height: 350px;
      }
    }
  }
}
