.calendarhead {
  background: #DA383E;
  color: #fff;
  padding-top: 60px;
  h1 {
    color: #fff;
    font-size: 60px;
    font-weight: 300;
  }
  p {
    font-weight: 700;
    font-size: 22px;
    @include md {
      font-size: 35px;
    }
  }
  .top_standings {
    @include md {
      border-left: 6px solid #fff;
    }
    p {
      text-transform: uppercase;
      font-size: 20px;
      color: #283C4F;
    }
    table {
      border-collapse:separate;
      border-spacing: 5px 10px;
      font-size: 20px;
      @include md {
        font-size: 25px;
      }
      font-weight: 700;
    }
    tr {
      margin-bottom: 5px;
    }
    .count {
      background: #283C4F;
      width: 25px;
    }
    td.name, td.points {
      border: 2px solid #fff;
    }
    .name {
      text-transform: uppercase;
    }
    .points {
      font-size: 15px;
    }
  }
}

.calendar {
  padding: 25px 25px 150px 25px;
  @include sm {
    padding: 25px 25px 250px 25px;
  }
  @include md {
    padding: 25px 25px 350px 25px;
  }
  @include lg {
    padding: 25px 25px 450px 25px;
  }
  background: url('images/calendar_btm.jpg') bottom center no-repeat;
  background-size: 100%;
  .event {
    margin-bottom: 50px;
    &__wrapper__closed {
      border: 6px solid #15283B;
      padding: 15px;
      transition: .5s;
      .dots {
        position: absolute;
        top: 15px;
        right: 10px;
        background: url(images/events_dots_navy.png) no-repeat;
        height: 30px;
        width: 40px;
      }
      .round {
        color: #DA383E;
        font-size: 20px;
        font-weight: 700;
      }
      .dates {
        color: #DA383E;
        font-size: 30px;
        font-weight: 700;
      }
      .title {
        background: transparent !important;
        border-top: 2px solid #15283B;
        border-bottom: 2px solid #15283B;
        color: #15283B;
        padding-bottom: 15px;
        word-wrap: break-word;
        padding-left: 0 !important;
        padding-right: 0 !important;
        h2 {
          font-size: 40px;
          word-wrap: break-word;
          @include md {
            font-size: 35px;
          }
          @include lg {
            font-size: 50px;
          }
          text-transform: uppercase;
          font-weight: 700;
          margin-top: 10px;
        }
        span {
          color: #15283B;
          font-size: 14px;
          display: inline-block;
          text-transform: capitalize;
        }
        a:hover {
          text-decoration: none;
        }
      }
      img.wp-post-image {
        margin-top: 10px;
      }
      .img__wrapper {
        text-align: center;
        padding: 20px;
        img, svg {
          width: 100%;
          padding: 20px;
          max-height: 350px;
        }
        path {
          stroke: #000;
        }
        text, circle, polygon {
          display: none;
        }
      }
      .status {
        position: absolute;
        right: 50px;
        padding: 25px 15px;
        font-size: 22px;
        // height: 80px;
        // width: 80px;
        background: #DA383E;
        border-radius: 50px;
        border: 10px solid #fff;
        margin-top: -15px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        p {
          text-align: center;
          color: #fff;
          font-weight: 700;
          line-height: 1em;
          margin-bottom: 0;
        }
        p.over {
        }
        p.tbc {
          display: none;
        }
      }
    }

    &__wrapper__closed:hover {
      border: 6px solid #DA383E;
      padding: 15px;
      background: #DA383E;
      .dots {
        background: url(images/events_dots_white.png) no-repeat;
      }
      .round {
        color: #fff !important;
      }
      .dates {
        color: #fff !important;
      }
      .title {
        padding-left: 0 !important;
        padding-right: 0 !important;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        color: #fff;
        h2 {
          color: #fff;
        }
        span {
          color: #fff;
        }
        a {
          color: #fff;
          transition: .5s;
        }
        a:hover {
          color: #15283B;
          text-decoration: none;
        }
      }
      .img__wrapper {
        text-align: center;
        padding: 20px;
        img {
          width: 100%;
          padding: 20px;
          max-height: 400px;
        }
        path {
          stroke: #fff;
          fill: #fff;
        }
        text, circle, polygon, rect {
          display: block;
          fill: #fff;
        }
      }
    }

    &__wrapper__upcoming {
      border: 6px solid #15283B;
      padding: 15px;
      transition: .5s;
      .dots {
        position: absolute;
        top: 15px;
        right: 10px;
        background: url(images/events_dots_navy.png) no-repeat;
        height: 30px;
        width: 40px;
      }
      .round {
        color: #34A746;
        font-size: 20px;
        font-weight: 700;
      }
      .dates {
        color: #34A746;
        font-size: 30px;
        font-weight: 700;
      }
      .title {
        padding-left: 0 !important;
        padding-right: 0 !important;
        background: transparent;
        border-top: 2px solid #15283B;
        border-bottom: 2px solid #15283B;
        color: #15283B;
        padding-bottom: 15px;
        word-wrap: break-word;
        h2 {
          font-size: 40px;
          word-wrap: break-word;
          @include md {
            font-size: 35px;
          }
          @include lg {
            font-size: 50px;
          }
          text-transform: uppercase;
          font-weight: 700;
          margin-top: 10px;
        }
        a {
          color: #15283B;
          font-size: 14px;
          font-weight: 700;
          display: inline-block;
          text-transform: capitalize;
        }
      }
      img.wp-post-image {
        margin-top: 10px;
      }
      .img__wrapper {
        text-align: center;
        padding: 20px;
        img, svg {
          width: 100%;
          padding: 20px;
          max-height: 350px;
        }
        path {
          stroke: #000;
        }
        text, circle, polygon {
          display: none;
        }
      }
      .status {
        position: absolute;
        right: 50px;
        padding: 25px 15px;
        font-size: 22px;
        // height: 80px;
        // width: 80px;
        background: #34A746;
        border-radius: 50px;
        border: 10px solid #fff;
        margin-top: -25px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        p {
          text-align: center;
          color: #fff;
          font-weight: 700;
          line-height: 1em;
          margin-bottom: 0;
        }
        p.over {
          display: none;
        }
        p.tbc {
        }
      }
    }


    &__wrapper__upcoming:hover {
      border: 6px solid #34A746;
      padding: 15px;
      background: #34A746;
      .dots {
        background: url(images/events_dots_white.png) no-repeat;
      }
      .round {
        color: #fff !important;
      }
      .dates {
        color: #fff !important;
      }
      .title {
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        color: #fff;
        h2 {
          color: #fff;
        }
        a {
          color: #fff;
          transition: .5s;
        }
        a:hover {
          color: #15283B;
          text-decoration: none;
        }
      }
      .img__wrapper {
        text-align: center;
        padding: 20px;
        img {
          width: 100%;
          padding: 20px;
          max-height: 400px;
        }
        path {
          stroke: #fff;
          fill: #fff;
        }
        text, circle, polygon, rect {
          display: block;
          fill: #fff;
        }
      }
    }
  }
  .btcc_logo {
    position: relative;
    margin-top: -25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75px;
  }
}

.calendarhead-single {
  background: #15283B;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
  h1 {
    color: #fff;
    font-size: 60px;
    font-weight: 200;
    margin: 0;
  }
  p {
    font-weight: 400;
    font-size: 16px;
  }
  .title {
    padding-bottom: 15px;
    // margin-bottom: 25px;
    border-bottom: none;
    hr {
      border-top: 3px dotted rgba(255,255,255,.5);
      margin-bottom: 15px;
      width: calc(100% - 30px);
      // clear: both;
      background-color: transparent;
    }
  }
  .circuit {
    color: #28A6EA;
    .circuit__details {
      float: left;
      height: 150px;
      margin-left: 15px;
      @include md {
        margin-left: 50px;
        overflow: visible;
      }
    }
    .rotate {
      width: 100%;
      height: 100%;
      display: inline-block;
      transform: rotate(270deg);
      position: relative;
      font-size: 22px;
      font-weight: 700;
      // height: 100px;
      @include md {
        // height: 170px;
      }
      text-transform: uppercase;
    }
    .wrapper {
      position: relative;
      display: inline-block;
      margin-right: 15px;
      border-style: solid;
      border-width: 26px 26px 27px 27px;
      -moz-border-image: url(images/border.png) 26 26 27 27 repeat;
      -webkit-border-image: url(images/border.png) 26 26 27 27 repeat;
      -o-border-image: url(images/border.png) 26 26 27 27 repeat;
      border-image: url(images/border.png) 26 26 27 27 fill repeat;

      span {
        color: #fff;
        display: block;
        font-size: 18px;
        font-weight: 700;
      }
      span.miles {
        position: absolute;
        top: 15px;
        right: -60px;
        width: auto;
        float: left;
        height: 80px;
        transform: rotate(270deg);
        color: #28A6EA;
      }
      p {
        font-size: 40px;
        line-height: 1em;
        @include md {
          font-size: 60px;
        }
        font-weight: 700;
      }
    }
  }
  .circuit_gallery {
    padding: 45px 15px;
    img {
      margin-right: 15px;
    }
    a {
      color: #fff;
      transition: .5s;
    }
    a:hover {
      color: #28A6EA;
      text-decoration: none;
    }
  }
}

.calendar-single {
  .image {
    &__wrapper {
      background: #28A6EA;
      height: 100%;
    }
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 5px;
    padding-left: 0;
  }
  .circuit {
    &__wrapper {
      background: #28A6EA;
      text-align: center;
      img, svg {
        @include md {
          width: 60%;
          margin: 50px;
        }
        width: 90%;
        margin: 25px 0 25px 0;

      }
      path {
        stroke: #fff;
        fill: #fff;
      }
      text, circle, polygon, rect {
        display: block;
        fill: #fff;
      }
    }
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
    @include md {
      padding-right: 0;
      padding-left: 5px;
    }
  }
  .back {
    &__wrapper {
      background: #DA383E;
      padding: 32px;
      margin-top: 0;
      text-align: center;
      img {
        margin-right: 15px;
      }
      a {
        background: none;
        padding: 0;
        display: inline-block;
        color: #fff;
        text-transform: uppercase;
        font-size: 13px;
        transition: .5s;
      }
    }
    padding-right: 5px;
    padding-left: 5px;
    @include md {
      padding-left: 0;
      padding-right: 5px;
      text-align: center;
    }

    a {
      color: #fff;
      transition: .5s;
      text-transform: uppercase;
      font-weight: 700;
    }
    a:hover {
      color: #15283B;
      text-decoration: none;
    }
  }
  .blog {
    margin-bottom: 10px;
    &__wrapper {
      background: #15283B;
      padding: 25px;
    }
    padding-right: 5px;
    padding-left: 5px;
    @include md {
      padding-right: 0;
      padding-left: 5px;
    }
    h3 {
      color: #fff;
      font-weight: 700;
      margin: 0;
    }
  }
  .blog_section {
    h2 {
      background: #fff;
      color: #6F919B;
      padding: 10px;
      width: 90%;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 700;
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 0;
      ::before {
        content: url('images/blog_dots_h2.png');
        float: left;
        height: 20px;
      }
      a {
        color: #6F919B;
        transition: .5s;
      }
      a:hover {
        color: #28A6EA;
        text-decoration: none;
      }
    }
    &__post:first-of-type {
      @include md {
        padding-left: 0;
        padding-right: 5px;
      }
    }
    &__post {
      padding-left: 5px;
      padding-right: 5px;
      margin-bottom: 10px;
    }
    &__post:last-of-type {
      @include md {
        padding-left: 5px;
        padding-right: 0;
      }
    }
    &__post__wrapper {
      height: 250px;
      @include md {
        height: 350px;
        padding-left: 0 !important;
        opacity: .75;
        transition: .5s;
      }
    }
    &__post__wrapper:hover {
      @include md {
        opacity: 1;
      }
    }
  }
}
