.news {
  margin-bottom: 10px;
  &_section__post {
    margin-top: 10px;
    @include md {
      padding-left: 0 !important;
      opacity: .75;
      transition: .5s;
    }
  }
  &_section__post.odd {
    @include md {
      padding-right: 10px;
    }
  }
  &_section__post:last-of-type {
    margin-bottom: 10px;
    @include md {
      margin-bottom: 0;
    }
  }
  &_section__post.even {
    @include md {
      padding-right: 0;
    }
  }
  &_section__post:hover {
    opacity: 1;
  }
  .news_posts {
    padding-left: 0;
    padding-right: 0;
    h2 {
      background: #fff;
      color: #6F919B;
      padding: 10px 10px 10px 45px;
      @include md {
        padding: 10px 10px 10px 25px;
      }
      width: 90%;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 700;
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 0;
      a {
        color: #6F919B;
        transition: .5s;
      }
      a:hover {
        color: #28A6EA;
        text-decoration: none;
      }
    }
    h2::before {
      content: url('images/blog_dots_h2.png');
      // float: left;
      position: absolute;
      left: 15px;
      @include md {
        left: 0;
      }
      @include xl {
        // height: 20px;
      }
    }
    &__post:first-of-type {
      @include md {
        padding-left: 0;
        padding-right: 7.5px;
      }
    }
    &__post {
      padding-left: 7.5px;
      padding-right: 7.5px;
      margin-bottom: 10px;
    }
    &__post:last-of-type {
      @include md {
        padding-left: 7.5px;
        padding-right: 0;
      }
    }
    &__post__wrapper {
      height: 250px;
      @include md {
        height: 350px;
      }
    }
  }
  .social {
    padding-right: 0 !important;
    padding-left: 7.5px !important;
    margin-top: 10px;
    .row {
      height: 100%;
      .col-md-6 {
        height: 100%;
        .vert-align {
          position: absolute;
          text-align: center;
          top: 50%;
          width: 100%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          img {
            height: 100px;
            margin-bottom: 25px;
          }
          p {
            font-size: 14px;
            font-weight: 700;
            color: #fff;
          }
        }
      }
    }
    .facebook, .twitter, .instagram, .youtube {
      background: #28A6EA;
      height: 350px;
      margin-bottom: 10px;
      text-align: center;
      overflow: hidden;
    }
  }

  .pagin {
    // border-top: 15px solid #fff;
    // border-bottom: 15px solid #fff;
    &__wrapper {
      height: 50px;
      background: #15283B;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
    }
    color: #fff;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
    font-weight: 700;
    a {
      color: #fff;
      font-weight: 700;
      transition: .5s;
    }
    a:first-of-type {
      float: left;
      display: block;
    }
    a:last-of-type {
      float: right;
      display: block;
    }
    a:hover {
      text-decoration: none;
      color: #28A6EA;
    }
  }
  .blue {
    &__wrapper {
      background: #28A6EA;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
    }
    color: #fff;
    padding-right: 0;
    padding-left: 7.5px;
    text-align: right;
    font-size: 16px;
    font-weight: 700;
    a {
      color: #fff;
      font-weight: 700;
    }
  }
}

.news-single {
  padding: 50px 0 25px 0;
  background: #15283B;
  color: #fff;
  margin-top: 15px;
  .title {
    border-bottom: 10px solid #fff;
    @include md {
      padding-left: 30px;
    }
  }
  .date {
    font-size: 40px;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
  }
  h1 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 25px;
    text-transform: capitalize;
  }
  .content {
    margin-top: 25px;
    @include md {
      padding-left: 30px;
    }
    a {
      color: #fff;
      font-weight: 700;
      transition: .5s;
    }
    a:hover {
      text-decoration: none;
      color: #28A6EA;

    }
    a.back {
      font-family: 'Montserrat', sans-serif;
      background: #fff;
      margin-top: 50px;
      display: inline-block;
      font-weight: 700;
      font-size: 14px;
      color: #15283B;
      text-transform: uppercase;
      padding: 15px 20px;
      transition: .5s;
      img {
        margin-right: 15px;
      }
    }
    a.back:hover {
      background: #28A6EA;
      text-decoration: none;
    }
  }
  p:first-of-type {
    font-size: 22px;
    font-weight: 700;
  }
  p {
    font-size: 16px;
  }
  blockquote {
    margin-top: 50px;
  }
  .thumbimg {
    @include md {
      padding-right: 0;
    }
    .more {
      position: absolute;
      top: 25px;
      right: 40px;
    }
    .galleryinfo::before {
      top: 0;
      left: 0;
      position: absolute;
      content: "";
      background-color: #15283B;
      width: 15%;
      height: 10px;
    }
    .galleryinfo {
      background: #28A6EA;
      padding: 30px 20px 20px 20px;
      &__wrapper {

      }
      h3 {
        font-size: 15px;
        margin: 0;
        font-weight: 700;
        float: left;
        line-height: 1.2em;
      }
      h3:before {
        content: url(images/events_dots_white.png);
        float: left;
        height: 25px;
      }
      p {
        clear: both;
        font-size: 15px;
        padding-left: 30px;
        font-weight: 300;
      }
    }
  }
  .prev-next {
    padding: 50px 15px 25px 15px;
    font-family: 'Montserrat', sans-serif;
    a {
      color: #84B1DB;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 14px;
      transition: .5s;
    }
    a:hover {
      color: #fff;
      text-decoration: none;
    }
    .previous {
      text-align: left;
    }
    .next {
      text-align: right;
    }
  }
}
